*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.ortakoll-image{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap:20px;
    max-width: 100%;
    padding:14px 16px;
    margin:10%;
    
    
}
.ortakoll-image img {
    max-width: 100%;
    width:400px;
    height:200px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
    flex-flow: wrap column;
}
.ortakoll-image-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap:20px;
    max-width: 100%;
    padding:14px 16px;
    margin: 10%;
}
.ortakoll-image-2 img{
    max-width: 100%;
    width:400px;
    height:200px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 20px;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
    flex-flow: wrap column;
}
.ortakoll-txt h1{
    text-align: center;
}
.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    max-width: 100%;
}